.con{
    background-color: chartreuse;
    border: 1px solid red;
}
.con1{
    background-color: blueviolet;
}
.con2{
    background-color: rgb(43, 226, 137);
}
.con3{
    background-color: rgb(226, 43, 168);
}
.con4{
    background-color: rgb(19, 235, 37);
}
.con5{
    background-color: rgb(234, 141, 11);
}